<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- QR코드 인식 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 내부 저장소 요청 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <!-- QR코드 인식, 전자영수증 저장, 받은 선물 상세 화면 이미지 저장 등등 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DispatcherActivity" />

        <activity
            android:name=".BuilderActivity" />

        <activity
            android:name=".AsyncAndDeferredActivity" />

        <activity
            android:name=".CoroutineContextActivity" />

        <activity
            android:name=".StructuredConcurrencyActivity" />

        <activity
            android:name=".CoroutineExceptionActivity" />

        <activity
            android:name=".SuspendFunActivity" />

        <activity
            android:name=".CoroutineAdvancedActivity" />

        <activity
            android:name=".ChannelActivity" />

        <activity
            android:name=".FlowActivity" />
    </application>

</manifest>